In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('optimised_food_price.csv')
df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
0,1994-01-15,Delhi,Delhi,Delhi,28.67,77.2,cereals and tubers,Rice,KG,actual,INR,8.0,0.25
1,1994-01-15,Delhi,Delhi,Delhi,28.67,77.2,cereals and tubers,Wheat,KG,actual,INR,5.0,0.16
2,1994-01-15,Delhi,Delhi,Delhi,28.67,77.2,miscellaneous food,Sugar,KG,actual,INR,13.5,0.43
3,1994-01-15,Delhi,Delhi,Delhi,28.67,77.2,oil and fats,Oil (mustard),KG,actual,INR,31.0,0.99
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.03,72.6,cereals and tubers,Rice,KG,actual,INR,6.8,0.22

In [12]:
df.columns

Index(['date', 'admin1', 'admin2', 'market', 'latitude', 'longitude',
       'category', 'commodity', 'unit', 'pricetype', 'currency', 'price',
       'usdprice'],
      dtype='object')

In [15]:
df1 = df[['date','market','category', 'commodity', 'unit','price']]

In [19]:
df_kg = df1.loc[df1['unit']=='KG']

In [21]:
df_kg.drop('unit',axis = 1, inplace = True)

C:\Users\U6049975\AppData\Local\Temp\ipykernel_8452\851164419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kg.drop('unit',axis = 1, inplace = True)

In [27]:
df_kg.loc[df_kg['price']==567.5]

              date     market            category    commodity  price
128660  2021-06-15  Cuddalore  miscellaneous food  Tea (black)  567.5

In [28]:
df_kg.to_excel('optimized_india_food_prices.xlsx',index = False)

In [5]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'{col}----{df[col].unique()}')

date----['1994-01-15' '1994-02-15' '1994-03-15' '1994-04-15' '1994-05-15'
 '1994-06-15' '1994-07-15' '1994-08-15' '1994-09-15' '1994-10-15'
 '1994-11-15' '1994-12-15' '1995-01-15' '1995-02-15' '1995-03-15'
 '1995-04-15' '1995-05-15' '1995-06-15' '1995-07-15' '1995-08-15'
 '1995-09-15' '1995-10-15' '1995-11-15' '1995-12-15' '1996-01-15'
 '1996-02-15' '1996-03-15' '1996-04-15' '1996-05-15' '1996-06-15'
 '1996-07-15' '1996-08-15' '1996-09-15' '1996-10-15' '1996-11-15'
 '1996-12-15' '1997-01-15' '1997-02-15' '1997-03-15' '1997-04-15'
 '1997-05-15' '1997-06-15' '1997-07-15' '1997-08-15' '1997-09-15'
 '1997-10-15' '1997-11-15' '1997-12-15' '1998-01-15' '1998-02-15'
 '1998-03-15' '1998-04-15' '1998-05-15' '1998-06-15' '1998-07-15'
 '1998-08-15' '1998-09-15' '1998-10-15' '1998-11-15' '1998-12-15'
 '1999-01-15' '1999-02-15' '1999-03-15' '1999-04-15' '1999-05-15'
 '1999-06-15' '1999-07-15' '1999-08-15' '1999-09-15' '1999-10-15'
 '1999-11-15' '1999-12-15' '2000-01-15' '2000-02-15' '2000-03-15'
 '2000-04-15' '2000-05-15' '2000-06-15' '2000-07-15' '2000-08-15'
 '2000-09-15' '2000-10-15' '2000-11-15' '2000-12-15' '2001-01-15'
 '2001-02-15' '2001-03-15' '2001-04-15' '2001-05-15' '2001-06-15'
 '2001-07-15' '2001-08-15' '2001-09-15' '2001-10-15' '2001-11-15'
 '2001-12-15' '2002-01-15' '2002-02-15' '2002-03-15' '2002-04-15'
 '2002-05-15' '2002-06-15' '2002-07-15' '2002-08-15' '2002-09-15'
 '2002-10-15' '2002-11-15' '2002-12-15' '2003-01-15' '2003-02-15'
 '2003-03-15' '2003-04-15' '2003-05-15' '2003-06-15' '2003-07-15'
 '2003-08-15' '2003-09-15' '2003-10-15' '2003-11-15' '2003-12-15'
 '2004-01-15' '2004-02-15' '2004-03-15' '2004-04-15' '2004-05-15'
 '2004-06-15' '2004-07-15' '2004-08-15' '2004-09-15' '2004-10-15'
 '2004-11-15' '2004-12-15' '2005-01-15' '2005-02-15' '2005-03-15'
 '2005-04-15' '2005-05-15' '2005-06-15' '2005-07-15' '2005-08-15'
 '2005-09-15' '2005-10-15' '2005-11-15' '2005-12-15' '2006-01-15'
 '2006-02-15' '2006-03-15' '2006-04-15' '2006-05-15' '2006-06-15'
 '2006-07-15' '2006-08-15' '2006-09-15' '2006-10-15' '2006-11-15'
 '2006-12-15' '2007-01-15' '2007-02-15' '2007-03-15' '2007-04-15'
 '2007-05-15' '2007-06-15' '2007-07-15' '2007-08-15' '2007-09-15'
 '2007-10-15' '2007-11-15' '2007-12-15' '2008-01-15' '2008-02-15'
 '2008-03-15' '2008-04-15' '2008-05-15' '2008-06-15' '2008-07-15'
 '2008-08-15' '2008-09-15' '2008-10-15' '2008-11-15' '2008-12-15'
 '2009-01-15' '2009-02-15' '2009-03-15' '2009-04-15' '2009-05-15'
 '2009-06-15' '2009-07-15' '2009-08-15' '2009-09-15' '2009-10-15'
 '2009-11-15' '2009-12-15' '2010-01-15' '2010-02-15' '2010-03-15'
 '2010-04-15' '2010-05-15' '2010-06-15' '2010-07-15' '2010-08-15'
 '2010-09-15' '2010-10-15' '2010-11-15' '2010-12-15' '2011-01-15'
 '2011-02-15' '2011-03-15' '2011-04-15' '2011-05-15' '2011-06-15'
 '2011-07-15' '2011-08-15' '2011-09-15' '2011-10-15' '2011-11-15'
 '2011-12-15' '2012-01-15' '2012-02-15' '2012-03-15' '2012-04-15'
 '2012-05-15' '2012-06-15' '2012-07-15' '2012-08-15' '2012-09-15'
 '2012-10-15' '2012-11-15' '2012-12-15' '2013-01-15' '2013-02-15'
 '2013-03-15' '2013-04-15' '2013-05-15' '2013-06-15' '2013-07-15'
 '2013-08-15' '2013-09-15' '2013-10-15' '2013-11-15' '2013-12-15'
 '2014-01-15' '2014-02-15' '2014-03-15' '2014-04-15' '2014-05-15'
 '2014-06-15' '2014-07-15' '2014-08-15' '2014-09-15' '2014-10-15'
 '2014-11-15' '2014-12-15' '2015-01-15' '2015-02-15' '2015-03-15'
 '2015-04-15' '2015-05-15' '2015-06-15' '2015-07-15' '2015-08-15'
 '2015-09-15' '2015-10-15' '2015-11-15' '2015-12-15' '2016-01-15'
 '2016-02-15' '2016-03-15' '2016-04-15' '2016-05-15' '2016-06-15'
 '2016-07-15' '2016-08-15' '2016-09-15' '2016-10-15' '2016-11-15'
 '2016-12-15' '2017-01-15' '2017-02-15' '2017-03-15' '2017-04-15'
 '2017-05-15' '2017-06-15' '2017-07-15' '2017-08-15' '2017-09-15'
 '2017-10-15' '2017-11-15' '2017-12-15' '2018-01-15' '2018-02-15'
 '2018-03-15' '2018-04-15' '2018-05-15' '2018-06-15' '2018-07-15'
 '2018-08-15' '2018-09-15' '2018-10-15' '2018-11-15' '2018-12-15'
 '2019-01-15' '2019-02-15' '2019-03-15' '2019-04-15' '2019-05-15'
 '2019-06-15' '2019-07-15' '2019-08-15' '2019-09-15' '2019-10-15'
 '2019-11-15' '2019-12-15' '2020-01-15' '2020-02-15' '2020-03-15'
 '2020-04-15' '2020-05-15' '2020-06-15' '2020-07-15' '2020-08-15'
 '2020-09-15' '2020-10-15' '2020-11-15' '2020-12-15' '2021-01-15'
 '2021-02-15' '2021-03-15' '2021-04-15' '2021-05-15' '2021-06-15'
 '2021-07-15']
admin1----['Delhi' 'Gujarat' 'Himachal Pradesh' 'Karnataka' 'Madhya Pradesh'
 'Maharashtra' 'Orissa' 'Telangana' 'Tripura' 'West Bengal' 'Meghalaya'
 'Rajasthan' 'Tamil Nadu' 'Assam' 'Kerala' 'Uttar Pradesh' 'Mizoram'
 'Bihar' 'Chandigarh' 'Jharkhand' 'Nagaland' 'Punjab' 'Uttarakhand'
 'Andhra Pradesh' 'Haryana' 'Andaman and Nicobar' 'Puducherry' 'Goa'
 'Chhattisgarh' 'Manipur' 'Sikkim']
admin2----['Delhi' 'Ahmadabad' 'Shimla' 'Bangalore Urban' 'Bhopal' 'Mumbai city'
 'Khordha' 'Hyderabad' 'West Tripura' 'Kolkata' 'East Khasi Hills'
 'Bikaner' 'Chennai' 'Kamrup' 'Thiruvananthapuram' 'Lucknow' 'Aizawl'
 'Patna' 'Chandigarh' 'Ranchi' 'Amravati' 'Kohima' 'Amritsar' 'Ludhiana'
 'Dehra Dun' 'Krishna' 'Rajkot' 'Dindigul' 'Kanpur' 'Banka' 'Hisar'
 'Karnal' 'Mandi' 'Dharwad' 'Bid' 'Cuttack' 'Sambalpur'
 'Tiruchchirappalli' 'Agra' 'Varanasi' 'Darjiling' 'Indore' 'Dimapur'
 'Bathinda' 'Jodhpur' 'Ernakulam' 'Kota' 'Andaman Islands' 'Puducherry'
 'North Goa' 'Gurgaon' 'Panchkula' 'Kozhikode' 'Gwalior' 'Jabalpur'
 'Sundargarh' 'Chittoor' 'Kurnool' 'Vishakhapatnam' 'Darbhanga' 'Gaya'
 'Muzaffarpur' 'Purnia' 'Bastar' 'Bilaspur' 'Durg' 'Surguja' 'Kachchh'
 'Surat' 'Kangra' 'Solan' 'Dakshin Kannad' 'Mysore' 'Palakkad' 'Thrissur'
 'Wayanad' 'Rewa' 'Sagar' 'Nashik' 'Pune' 'West Imphal' 'Jaintia Hills'
 'West Garo Hills' 'Baleshwar' 'Ganjam' 'Koraput' 'Udaipur' 'East'
 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Ramanathapuram'
 'Tirunelveli Kattabo' 'Vellore' 'Adilabad' 'Karimnagar' 'Mahbubnagar'
 'Nalgonda' 'Warangal' 'Gorakhpur' 'Jhansi' 'Kaushambi' 'Meerut'
 'Haridwar' 'Naini Tal' 'Udham Singh Nagar' 'Birbhum' 'Maldah' 'Puruliya'
 'Uttar Dinajpur' 'West Midnapore' 'Una' 'Hoshangabad' 'Jhabua' 'Shahdol'
 'Ujjain' 'Bolangir' 'Mayurbhanj' 'Bokaro' 'Gumla' 'Lohardaga' 'Sahibganj'
 'Simdega' 'Belgaum' 'Bijapur' 'Davanagere' 'Gulbarga' 'Shimoga' 'Tumkur'
 'Araria' 'Katihar' 'Khagaria' 'Madhubani' 'Munger' 'Nawada'
 'Purba Champaran' 'Rohtas' 'Saharsa' 'Samastipur' 'Saran' 'Bharatpur'
 'Morena' 'Ajmer' 'Aligarh' 'Bareilly' 'Moradabad' 'Faizabad' 'Mirzapur'
 'Saharanpur']
market----['Delhi' 'Ahmedabad' 'Shimla' 'Bengaluru' 'Bhopal' 'Mumbai' 'Bhubaneshwar'
 'Hyderabad' 'Agartala' 'Kolkata' 'Shillong' 'Jaipur' 'Chennai' 'Guwahati'
 'Tiruvanantapuram' 'Lucknow' 'Aizawl' 'Patna' 'Chandigarh' 'Ranchi'
 'Raipur' 'Kohima' 'Amritsar' 'Ludhiana' 'Dehradun' 'Vijaywada' 'Rajkot'
 'Dindigul' 'Kanpur' 'Bhagalpur' 'Hisar' 'Karnal' 'Mandi' 'Dharwad'
 'Nagpur' 'Cuttack' 'Sambalpur' 'Thiruchirapalli' 'Agra' 'Varanasi'
 'Siliguri' 'Indore' 'Dimapur' 'Bathinda' 'Jodhpur' 'Ernakulam' 'Kota'
 'Port Blair' 'Puducherry' 'Panaji' 'Gurgaon' 'Panchkula' 'Kozhikode'
 'T.Puram' 'Gwalior' 'Jabalpur' 'Rourkela' 'Mayabunder' 'Tirupathi'
 'Kurnool' 'Visakhapatnam' 'Darbhanga' 'Bihar_Gaya' 'Muzzafarpur' 'Purnia'
 'Jagdalpur' 'Bilaspur' 'Durg' 'Ambikapur' 'Bhuj' 'Surat' 'Dharamshala'
 'Solan' 'Mangalore' 'Mysore' 'Palakkad' 'Thrissur' 'Wayanad' 'Rewa'
 'Sagar' 'Nashik' 'Maharashtra_Pune' 'Imphal' 'Jowai' 'Tura' 'Balasore'
 'Berhampur' 'Jeypore' 'Udaipur' 'Gangtok' 'Coimbatore' 'Cuddalore'
 'Dharmapuri' 'Ramanathapuram' 'Tirunelveli' 'Vellore' 'Adilabad'
 'Karimnagar' 'Jadcherla' 'Suryapet' 'Warangal' 'Gorakhpur' 'Jhansi'
 'Allahabad' 'Meerut' 'Haridwar' 'Haldwani' 'Rudrapur' 'Rampurhat' 'Malda'
 'Purulia' 'Raiganj' 'Kharagpur' 'Una' 'Hoshangabad' 'Jhabua' 'Shahdol'
 'Ujjain' 'Balangir' 'Baripada' 'Bokaro' 'Gumla' 'Lohardaga' 'Sahibganj'
 'Simdega' 'Bengaluru (east range)' 'Belagavi' 'Vijayapur' 'Dhavanagere'
 'Kalaburagi' 'Shivamogga' 'Bellary' 'Tumakuru' 'Araria' 'Katihar'
 'Khagaria' 'Madhubani' 'Munger' 'Nawada' 'Motihari' 'Rohtas (sasaram)'
 'Saharsa' 'Samastipur' 'Saran' 'Bilaspur-hp' 'Bharatpur' 'Bikaner'
 'Morena' 'Ajmer' 'Aligarh' 'Bareilly' 'Moradabad' 'Ayodhya'
 'Mirzapur (vindhyanchal)' 'Saharanpur']
category----['cereals and tubers' 'miscellaneous food' 'oil and fats'
 'pulses and nuts' 'vegetables and fruits' 'milk and dairy']
commodity----['Rice' 'Wheat' 'Sugar' 'Oil (mustard)' 'Potatoes' 'Chickpeas' 'Onions'
 'Milk' 'Wheat flour' 'Milk (pasteurized)' 'Salt (iodised)'
 'Oil (groundnut)' 'Oil (palm)' 'Oil (sunflower)' 'Lentils (masur)'
 'Tomatoes' 'Tea (black)' 'Lentils' 'Sugar (jaggery/gur)'
 'Ghee (vanaspati)' 'Lentils (moong)' 'Lentils (urad)' 'Oil (soybean)']
unit----['KG' '100 KG' 'L']
pricetype----['actual']
currency----['INR']

In [8]:
for col in df.loc[df['unit']=='100 KG']:
    df['price'] == df['price']/100

In [10]:
df.loc[df['unit']=='100 KG']

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
2425,2000-01-15,Bihar,Patna,Patna,25.600,85.1,cereals and tubers,Rice,100 KG,actual,INR,800.0,18.37
2427,2000-01-15,Bihar,Patna,Patna,25.600,85.1,cereals and tubers,Wheat,100 KG,actual,INR,800.0,18.37
2432,2000-01-15,Delhi,Delhi,Delhi,28.670,77.2,cereals and tubers,Rice,100 KG,actual,INR,1075.0,24.68
2434,2000-01-15,Delhi,Delhi,Delhi,28.670,77.2,cereals and tubers,Wheat,100 KG,actual,INR,700.0,16.07
2456,2000-01-15,Maharashtra,Mumbai city,Mumbai,18.970,72.8,cereals and tubers,Rice,100 KG,actual,INR,1136.5,26.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107766,2020-10-15,Maharashtra,Mumbai city,Mumbai,18.970,72.8,cereals and tubers,Rice,100 KG,actual,INR,2400.0,32.66
107768,2020-10-15,Maharashtra,Mumbai city,Mumbai,18.970,72.8,cereals and tubers,Wheat,100 KG,actual,INR,2775.0,37.77
107774,2020-10-15,Maharashtra,Mumbai city,Mumbai,18.970,72.8,miscellaneous food,Sugar,100 KG,actual,INR,3311.1,45.06
108250,2020-10-15,Tamil Nadu,Chennai,Chennai,13.086,80.3,cereals and tubers,Rice,100 KG,actual,INR,4780.0,65.05
108252,2020-10-15,Tamil Nadu,Chennai,Chennai,13.086,80.3,cereals and tubers,Wheat,100 KG,actual,INR,3140.0,42.73

In [ ]:
if df['unit']== '100 KG':